.navbar{
	border-radius: 0;
}

@import 'sections/posts';

.form-horizontal:after{
	content: " ";
	display: block;
	clear: both;
}

.section{
	clear: both;
}
.section:before{
	content: " ";
	display: block;
	clear: both;
}
.section:after{
	content: " ";
	display: block;
	clear: both;
}